@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; /* Dark background */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #61fb; /* Scrollbar color */
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #4fa3d1; /* Darker shade on hover */
  }